<div id="section1">
    <div id="image-back"></div>
    <div id="bar-nav" data-aos="fade-down" class="px-5 py-2 d-flex flex-row justify-content-between align-items-center">
      <span style="font-size: 22px;">Portfo<span style="color: rgb(187, 208, 213);">lio.</span></span>
      <div id="menu">
        <span style="font-size: 25px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">NV</span>
      </div>
    </div>
    <div id="info-perso" data-aos="fade-up" class="p-5 text-center w-100">
      <span class="display-2">Ny Vahatrin'ny Aina Rasolohery</span>
      <div class="mt-4 w-75" style="margin: auto;">
        <span style="font-size:20px;" class="fw-lighter">
          Je suis un passionné de l'informatique, un créateur digital avec une détermination à toute épreuve pour concocter des expériences en ligne qui sortent vraiment du lot. Je suis obsédé par l'alliance parfaite entre l'esthétique et la fonctionnalité, et je mets tout en œuvre pour que mes projets soient vraiment uniques et mémorables. Avec un bagage varié, je jongle avec le développement web, la programmation, et je m'éclate dans la conception UX/UI.
        </span>
      </div>
      <div class="mt-4" style="font-size: 15px;" id="coordonne">
        <span>
          <img src="assets/images/icons8-linkedin-100.png" alt="LINKEDIN" width="25" height="25">
          <a href="https://www.linkedin.com/in/ny-vahatra-rasolohery-a8a489231/" target="_blank" class="ms-1">Ny Vahatra Rasolohery</a>
        </span>
        <span class="ms-4">
          <img src="assets/images/icons8-github-100.png" alt="GITHUB" width="25" height="25">
          <a href="https://github.com/nyvahatra" target="_blank" class="ms-1">Rasolohery Ny Vahatra</a>
        </span>
        <span class="ms-4">
          <img src="assets/images/icons8-facebook-100.png" alt="FACEBOOK" width="25" height="25">
          <a href="#" class="ms-1">Ny Vahatra Rasolohery</a>
        </span>
      </div>
      <div class="mt-4">
        <button id="bouton-cv" class="py-2 px-3">Curriculum Vitae</button>
      </div>
    </div>
</div>